web-site/extranet/assets/*
!web-site/extranet/assets/.gitignore
web-site/extranet/uploads/*
web-site/extranet/gallery/*
web-site/extranet/protected/runtime/*
!web-site/extranet/protected/runtime/.gitignore
web-site/extranet/protected/data/*.db

web-sistema/extranet/assets/*
!web-sistema/extranet/assets/.gitignore
web-sistema/extranet/uploads/*
web-sistema/extranet/gallery/*
web-sistema/extranet/protected/runtime/*
!web-sistema/extranet/protected/runtime/.gitignore
web-sistema/extranet/protected/data/*.db

/.settings
/.project
/.buildpath
.DS_Store
*/*.DS_Store
/*.DS_Store
/app-evento/node_modules/*
/app-admin/node_modules/*

app-evento/platforms
app-evento/plugins
app-evento/hooks
app-evento/platforms
app-evento/plugins
app-evento/node_modules

app-admin/platforms
app-admin/plugins
app-admin/hooks
app-admin/platforms
app-admin/plugins
app-admin/node_modules
