//
// pages-rtl.scss
//


//  Tooltpster

.demo-popover{
  .popover {
    float: right;
  }
}

// email



/* =============
   Email
============= */
.mails {
  td:last-of-type {
    padding-right: 20px;
  }

  .chat-widget{
      .chat-item-img {
        float: right !important;
        margin-left: 15px;
        margin-right: 0px !important;
      }
  }
}



// Timelime

.timeline{
  .timeline-item{
    .text-right{
      text-align: right!important;
    }
  }
}


// faq
.question-q-box {
  float: right;
}
.question{
  margin-right: 50px;
}
.answer{
  margin-right: 50px;
}
